<?xml version="1.0"?>

<model>
  <name>husky5e</name>
  <version>1.0</version>
  <sdf version="1.7">husky5e.urdf</sdf>

  <author>
    <name>Gunwoong Bang</name>
    <email>gw.bang@tum</email>
  </author>

  <description>
    husky5e is a mobile manipulator robot consisting of a Clearpath Husky UGV base
    and a Universal Robots UR5e robotic arm. It is designed for research and development
    in the field of construction robotics.
  </description>
</model>