<?xml version="1.0"?>

<model>
    <name>ur5e</name>
    <version>1.0</version>
    <sdf version="1.7">ur5e.urdf</sdf>

    <author>
        <name>Universal Robots</name>
        <url>https://github.com/Daniella1/urdf_files_dataset/tree/main/urdf_files/ros-industrial/xacro_generated/universal_robots/ur_description</url>
    </author>

    <description>
        Base UR robot series xacro macro.

        NOTE: this is NOT a URDF. It cannot directly be loaded by consumers
        expecting a flattened '.urdf' file. See the top-level '.xacro' for that
        (but note: that .xacro must still be processed by the xacro command).

        For use in '.launch' files: use one of the 'load_urX.launch' convenience
        launch files.

        This file models the base kinematic chain of a UR robot, which then gets
        parameterised by various configuration files to convert it into a UR3(e),
        UR5(e), UR10(e) or UR16e.

        NOTE: the default kinematic parameters (ie: link lengths, frame locations,
        offets, etc) do not correspond to any particular robot. They are defaults
        only. There WILL be non-zero offsets between the Forward Kinematics results
        in TF (ie: robot_state_publisher) and the values reported by the Teach
        Pendant.

        For accurate (and robot-specific) transforms, the 'kinematics_parameters_file'
        parameter MUST point to a .yaml file containing the appropriate values for
        the targetted robot.

        If using the UniversalRobots/Universal_Robots_ROS_Driver, follow the steps
        described in the readme of that repository to extract the kinematic
        calibration from the controller and generate the required .yaml file.

        Main author of the migration to yaml configs: Ludovic Delval.

        Contributors to previous versions (in no particular order):

        - Felix Messmer
        - Kelsey Hawkins
        - Wim Meeussen
        - Shaun Edwards
        - Nadia Hammoudeh Garcia
        - Dave Hershberger
        - G. vd. Hoorn
        - Philip Long
        - Dave Coleman
        - Miguel Prada
        - Mathias Luedtke
        - Marcel Schnirring
        - Felix von Drigalski
        - Felix Exner
        - Jimmy Da Silva
        - Ajit Krisshna N L
        - Muhammad Asif Rana
    </description>
</model>